<md-content flex layout-padding>
	<div layout-sm="column" layout-gt-sm="row">
		<div flex-gt-sm="33" layout-align="center start" class="text-center">
			<img src="images/wilber.jpg" />
		</div>
		<div flex-gt-sm="67" layout-padding>
			<span style="font-family:'Times New Roman';font-size:36px;">“What one man can do himself directly is but little. If, however, he can stir up ten others to take up the task he has accomplished much.”</span><br/>
			<span style="font-family:Vivaldi,cursive;font-size:30px;">– Wilbur Wright, aviation pioneer</span>

		</div>
	</div>
	<p layout-padding>Volunteering efforts constitute about 90 percent of the Help/Support workforce in desolate situations. They make it possible to respond to nearly 70,000 disasters every year. Deus Ex Machina (DEM's) mission is to bring local businesses as a unit into the Volunteering Efforts. Find out about the needs in your area by searching for current disasters and volunteer opportunities (link to home page) or be proactive and put your business on the map of the word of support</p>
	<div layout="row" layout-align="center center">	
		<md-button class="md-raised md-primary">Register Your Business Here</md-button>
	</div>
	<div layout="row" layout-align="center center">	
		<h2>DEM Businesses Are Awesome!</h2>
	</div>
	<div layout="row">
		<div flex-gt-sm="50" layout-padding>
			DEM Businesses is created for those who thrive on pushing the boundaries of their businesses beyond profits. We focus on emergency prevention, relief and recovery. Once we meet survivors’ immediate needs for food, water and shelter, we transition to rebuilding and reconstruction, supporting the people of natural disasters and chronic emergencies in reclaiming their lives. Our program seeks to prevent loss of lives, minimize suffering, reduce property damage, speed recovery, and otherwise better cope with natural or man-made disasters. While fostering a culture of peace, dignity and respect. Beyond immediate help DEM Businesses also make a difference in participating in Disaster Prevention and Disaster Preparedness projects. We give disaster-affected communities greater control over decisions that affect their lives.</div>
		<div flex-gt-sm="50" layout-padding>
			<div  class="yt_vid_wrap">
				<iframe class="" src="https://www.youtube.com/embed/p7mHV3el2g0?cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div layout="row" layout-align="center center">	
		<h2>Useful Information</h2>
	</div>
	<div layout="row">
		<img src="images/image_aboutus.png" />
		<div flex-gt-sm="50">
			<p>Learn what protective measures to take before, during, and after an emergency:<br/> 
			<a href="http://www.ready.gov/">http://www.ready.gov/</a><br/>
			<a href="http://www.fema.gov/pdf/library/pdf.pdf">http://www.fema.gov/pdf/library/pdf.pdf</a> 
			</p>
			<p>Disaster Declarations:<br/>
			<a href="https://www.fema.gov/disasters/">https://www.fema.gov/disasters/</a>
			</p>
			<p>Disaster Types:<br/>
			<a href="http://www.disasterassistance.gov/information/disaster-types">http://www.disasterassistance.gov/information/disaster-types</a></p>
			<p>Disaster Recovery Guides:<br/>
			<a href="http://www.redcross.org/find-help/disaster-recovery">http://www.redcross.org/find-help/disaster-recovery</a>
			</p>
			<p>Disaster Recovery Centers:<br/>
			<a href="http://asd.fema.gov/inter/locator/home.htm">http://asd.fema.gov/inter/locator/home.htm</a><br/>
			</p>
			<p>Find open Shelters:<br/>
			<a href="http://www.redcross.org/find-help/shelter">http://www.redcross.org/find-help/shelter</a>
			</p>
			<div>
			FEMA:          		 Red Cross:
			http://www.fema.gov/         http://www.redcross.org/ 
			</div>
		</div>
	</div>
</md-content>