<button ng-click="showList=false;">Map</button> - <button ng-click="showList=true;">List</button>

<div id="container" style="position: relative; width: 700px; height: 350px;" ng-show="!showList"></div>

<div ng-show="showList">
    <select name="state" ng-model="selectedState" ng-options="option.name as option.state for option in aState"
            ng-change="loadListByState(selectedState)">
            <option value="">Please choose a State</option>
    </select>
    <span class="error" ng-show="selectedState.$dirty && selectedState.$invalid">Select an option</span>
    
    <div ng-show="selectedState">
        <h4>Disasters</h4>
        <div class="" ng-repeat="oStateDisaster in aStateDisasters.data">
            <p><b>Disaster Name</b>: {{oStateDisaster.disasterName }}<br />
            <b>Disaster Type</b>: {{oStateDisaster.disasterType }}<br />
            <b>Disaster Date</b>: {{oStateDisaster.date.start }}
            <span ng-show="oStateDisaster.date.end !== null;"><br /><b>Disaster Date End</b>: {{oStateDisaster.date.end }}</span>
            </p>
        </div>
        <span ng-show="!aStateDisasters.data.length">No disaster found for this state.</span>
    </div>
    
    <div ng-show="selectedState">
        <h4>Volunteers</h4>
        <div class="" ng-repeat="oStateVolunteer in aStateVolunteers.data">
            <p>
            <b>Name</b>: {{oStateVolunteer.businessName }}<br />
            <b>Address</b>: {{oStateVolunteer.address }}, {{oStateVolunteer.state }} {{oStateVolunteer.zip }}<br />
            <b>Contact</b>: {{oStateVolunteer.email }} / {{oStateVolunteer.phone }}<br />
            <b>Service</b>: {{oStateVolunteer.assistanceInterest }}
            </p>
        </div>
        <span ng-show="!aStateVolunteers.data.length">No volunteer found for this state.</span>
    </div>
    
</div>

<div class="jumbotron">
  <h1>FEMA</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    {{test}}
  <h4>HTML5 Boilerplate</h4>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna elit,
    pretium id nisi id, molestie condimentum justo. Aliquam fermentum,
    ex nec ullamcorper porta, elit tortor fringilla turpis, eget facilisis massa
    lorem ut purus. Aenean nisl orci, porttitor in dictum a, porta in dolor.
    Nulla nunc sapien, maximus quis faucibus ac, elementum vel lacus.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
    turpis egestas. Aliquam sit amet vehicula ipsum. Donec et faucibus augue.
  </p>

  <md-button class="md-raised md-primary">Primary</md-button>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
