<div id="container" style="position: relative; width: 700px; height: 350px;"></div>


<div id="news-container" style="clear:both; margin: 10px;">
    <ul rn-carousel class="image" rn-carousel-transition="hexagon" rn-carousel-controls style="height: 200px !important;">
        <li id="news-feeds-item-{{$index}}" ng-repeat="item in femaNewsData | unique:'title' | limitTo:5">
            <div class="layer">
                <span>
                    <h4><a href="{{item.link}}" target="_blank">{{item.title}}</a></h4>
                </span>
                <span>{{item.description|htmlToPlaintext|cut:true:200}}</span>
            </div>
        </li>
    </ul>
</div>