<h1>Registration</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident voluptatibus veniam ipsum minus aperiam ut dicta. Vel veritatis, at molestiae ea, voluptatem quam non hic dolorem excepturi iure numquam magnam!</p>
<div>{{generalMessage}}</div>
<form name="registrationForm" id="registration" form-submit="submit()" novalidate>
<div>	
	<h2>Business Information</h2>
	<div class="left">
		<input ng-model="form.businessName" type="text" id="businessName" placeholder="Business Name" required>
		<input name="formPhone" ng-model="form.phone" phone type="text" id="phoneNumber" placeholder="Contact Info: Phone Number" required>
		<span class="error" ng-show="registrationForm.formPhone.$dirty && registrationForm.formPhone.$error.phone">Invalid phone number!</span>
		<input ng-model="form.email" type="email" id="email" placeholder="Contact Info: Email" required>
	</div>

	<div class="right">
		<input name="formAddress" ng-change="resetAddressValidation()" ng-model="form.address" type="text" id="address" placeholder="Business Address: Street, unit #" required>
		<span class="error" ng-show="(registrationForm.formAddress.$dirty) && registrationForm.formAddress.$error.address">Invalid address!</span>
		<div>
			<select name="formState" ng-model="form.state" 
			ng-options="option.name as option.state for option in stateOptions" required>
				<option value="">State</option> 
			</select>
			<span class="error" ng-show="registrationForm.formState.$dirty && registrationForm.formState.$invalid">Select a State</span>
			<input name="zipcode" ng-model="form.zip" type="text" zipcode id="zip" placeholder="Zip Code" required>
			<span class="error" ng-show="registrationForm.zipcode.$dirty && registrationForm.zipcode.$invalid">Invalid ZipCode</span>
		</div>
		<select name="formDisasterParticipation" ng-model="form.disasterParticipation"
		ng-options="option.disasterNumber as option.optionText for option in disasterParticipationOptions">
			<option value="">Disasters You Participated in</option>
		</select>
	</div>
</div>
<div>
	<h2>Assistance Preferences</h2>
	<div class="left">
		<select name="formAssistanceInterest" ng-model="form.assistanceInterest"
		ng-options="option for option in assistanceInterestOptions" required>
			<option value="">Type of Assistance you are interested in</option>
		</select>
		<span class="error" ng-show="registrationForm.formAssistanceInterest.$dirty && registrationForm.formAssistanceInterest.$invalid">Select an option</span>
		<select name="formDisasterInterest" ng-model="form.disasterInterest"
		ng-options="option.value as option.name for option in disasterInterestOptions" required>
			<option value="">Type of Disaster you are interested in</option>
		</select>
		<span class="error" ng-show="registrationForm.formDisasterInterest.$dirty && registrationForm.formDisasterInterest.$invalid">Select an option</span>
	</div>

	<div class="right">
		<select name="formServiceInterest" ng-model="form.serviceInterest"
		ng-options="option.value as option.name for option in serviceInterestOptions" required>
			<option value="">Radius of service you are interested in</option>
		</select>
		<span class="error" ng-show="registrationForm.formServiceInterest.$dirty && registrationForm.formServiceInterest.$invalid">Select an option</span>
		<select name="formCompensationType" ng-model="form.compensationType"
		ng-options="option for option in compensationTypeOptions" required>
			<option value="">Type of compensation</option>
		</select>
		<span class="error" ng-show="registrationForm.formCompensationType.$dirty && registrationForm.formCompensationType.$invalid">Select an option</span>
	</div>
</div>

<input class="btn btn-default" type="submit" id="submit" value="Submit" ng-disabled="registrationForm.$invalid"/>
</form>