<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/styles.css -->
    <!-- include: "type": "css", "files": "styles/*.css" -->
    <!-- endbuild -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  </head>
  <body ng-app="frontendApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <md-toolbar ng-controller="NavCtrl">

      <div class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-md>
          <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
        </md-button>
        <h2><span>FEMA</span></h2>
      </div>

    </md-toolbar>

    <div ng-controller="NavCtrl" layout-fill layout="row" ng-cloak>

      <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-content ng-controller="LeftCtrl">

          <md-list ng-cloak>

            <md-list-item ng-click="navigateTo('home', $event)">
              <md-icon aria-label="Home" class="material-icons">home</md-icon>
              <p>Home</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigateTo('about', $event)">
              <md-icon aria-label="About" class="material-icons">info</md-icon>
              <p>About</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="navigateTo('contact', $event)">
              <md-icon aria-label="About" class="material-icons">contact_phone</md-icon>
              <p>Contact</p>
            </md-list-item>

          </md-list>

          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a ng-href="#/about">About</a></li>
            <li><a ng-href="#/">Contact</a></li>
            <li><a ng-href="#/">Hi~~</a></li>
            <li><a ng-href="#/registration">Hi2~~</a></li>
          </ul>


          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>

        </md-content>
      </md-sidenav>

      <md-content layout-fill>

        <div layout="column" layout-padding>



          <div ng-view=""></div>
          <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner"></span>

          <div>
            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
              Toggle left
            </md-button>
          </div>

        </div>
      </md-content>

    </div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/x2js/xml2json.min.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/datamaps/dist/datamaps.all.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- include: "type": "js", "files": "*.js" -->
    <!-- include: "type": "js", "files": ["**/*.js", "!app.js"] -->
    <!-- endbuild -->
</body>
</html>
