
/* Theme Defaults
   ========================================================================== */
/**
 * Overrides angular material default styles
 */
button, select, html, textarea, input {
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

/**
 * Links
 */
a{
  color: #0071bc;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/**
 * Heading Styles
 */
.md-display-1{
  font-family: "Merriweather";
  letter-spacing: -1.5px;
}
.md-title{
  font-family: "Merriweather";
}
.slick-slide .md-title{
  font-size: 16px;
  line-height: 24px;
}


/* Tabs
   ========================================================================== */
.md-tab{
  font-weight: 700;
}

/* Material Chips
   ========================================================================== */
/**
 * Remove box shadow and vertical align center
 */
.md-chips{
  font-family: 'Source Sans Pro';
  font-weight: 700;
}
md-chips.md-default-theme, md-chips .md-chips {
	box-shadow: none;
	margin-top: 10px;
}


/* Material Icon Sizes
   ========================================================================== */
/**
 * we recommend them to be shown in either 18, 24, 36 or 48px. The default being 24px.
 */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


/* Map Overrides
   ========================================================================== */

.datamaps-legend {
  position: static !important;
  padding-bottom: 0px !important;
}

/* Map Overrides
   ========================================================================== */
.slick-slider{
  margin-bottom: 0px;
}

/* Registration
   ========================================================================== */

.md-input-container.md-default-theme, md-input-container label, md-input-container.md-default-theme, md-input-container .md-placeholder,md-select.md-default-theme, md-select .md-select-value.md-select-placeholder{
  color:#6d6d6d;
}
.form-asterisk,.form-help-asterisk,.form-general-error{
  color:red;
}
.text-center{
  text-align:center;
}
.yt_vid_wrap{
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.yt_vid_wrap iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aboutus_img_wrap{
  text-align: right;
}
.aboutus_img{
  width:100%;
  max-width:484px;
}
.aboutus_quote{
  font-family:'Times New Roman';
  font-size:36px;
  text-align:right;
}
.aboutus_quote_author{
  font-family:Vivaldi,cursive;
  font-size:30px;
  text-align:right;
}
@media screen and (max-width: 600px) {
    .aboutus_quote_author,.aboutus_quote {
      text-align: center;
    }
    .aboutus_img_wrap{
      text-align:center;
    }
    .aboutus_img{
      width:100%;
    }
}
.aboutus-cta{
  background-color:#F8DF9C!important;
  color:#000000!important;
  font-weight:bold!important;
}

.paragraph-remove-margin{
  margin-top:0;
}
